<div class="uk-height-large uk-background-cover uk-overflow-hidden uk-light uk-flex"
     style="background-image: url('assets/images/brandy_alexander_omaha.jpg'); background-position: 50% 5%; height: 500px">
</div>

<div class="uk-section">
  <div class="uk-container">
    <article class="uk-article">
      <h1 class="uk-article-title">About</h1>
    </article>

    <div class="uk-margin-top uk-child-width-1-2@m" uk-grid uk-height-match="target: > div > .uk-card">
      <div *ngFor="let castMember of CAST_MEMBERS">
        <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
            <img [src]="castMember.image" width="600" height="400" alt="">
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title">{{castMember.name}}</h3>
            <div [innerHTML]="castMember.description"></div>
          </div>
          <div class="uk-card-footer">
            <ul class="uk-iconnav">
              <li *ngFor="let social of castMember.socials">
                <a [href]="social.link" target="_blank"><span class="uk-margin-xsmall-right" attr.uk-icon="{{social.icon}}"></span> {{social.name}}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
