<div class="uk-margin-top uk-height-large uk-background-cover uk-overflow-hidden uk-light uk-flex"
     style="background-image: url('assets/images/brandy_alexander_omaha.jpg'); background-position: 50% 5%; height: 500px">
</div>

<div class="uk-section">
  <div class="uk-container">
    <article class="uk-article">
      <h1 class="uk-article-title">About</h1>
      <p class="uk-text">
        Brandy Alexander is a Chicago-based sketch comedy duo, featuring Chris Iannucci and Nick Marino.
      </p>
    </article>

    <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
      <div class="uk-card-media-left uk-cover-container">
        <img src="assets/images/chris_iannucci.jpg" alt="" uk-cover>
        <canvas width="600" height="400"></canvas>
      </div>
      <div>
        <div class="uk-card-body">
          <h3 class="uk-card-title">Chris Iannucci</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
        </div>
      </div>
    </div>

    <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
      <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
        <img src="assets/images/nicholas_marino.jpg" alt="" uk-cover>
        <canvas width="600" height="400"></canvas>
      </div>
      <div>
        <div class="uk-card-body">
          <h3 class="uk-card-title">Nicholas Marino</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
        </div>
      </div>
    </div>
  </div>
</div>
